body{
    background-color: black;
}
nav.imchintesh_nav.fixed {
    background-color: black;
}
#burger span {
    background-color: white;
}
p,.skils_wrapper ul.skills-list,.button a,.button span,.button.small a,.button.small span,.animation-container span,nav#imchintesh_nav ul li a,.logo_content span,.c-services__item h3{
       color: white;
}
.skils_wrapper  ul li::before {
  border-color: white;
}
nav#imchintesh_nav ul li a:hover {
    border-bottom: 5px solid white;
}

body.white{
    background-color: white;
}
body.white nav.imchintesh_nav.fixed {
    background-color: white;
}
body.white #burger span {
    background-color: #db7800;
}
body.white p,
body.white .skils_wrapper ul.skills-list,
body.white .button a,
body.white .button span,
body.white .button.small a,
body.white .button.small span,
body.white .animation-container span,
body.white nav#imchintesh_nav ul li a,
body.white .logo_content span,
body.white .c-services__item h3{
       color: black;
}
body.white  .skils_wrapper  ul li::before {
  border-color: black;
}
body.white nav#imchintesh_nav ul li a:hover {
    border-bottom: 5px solid black;
}

.logo_content span,nav#imchintesh_nav ul li a,h2,.animation-container span{
     font-family: 'Bebas Neue', cursive;
}
body p.main_title{
    font-family: 'Rubik', sans-serif;
    font-size: 6.5rem;
    margin: 0;
    font-weight: 800;
    color: #db7800;
    font-family: 'Big Shoulders Text', cursive;
}
h1 {
     color: #a15c01bd;
    font-size: 4rem;
    margin:auto; height:240px; width:70%;  
  -webkit-animation: floating-text 2s ease alternate infinite;
     -moz-animation: floating-text 2s ease alternate infinite;
      -ms-animation: floating-text 2s ease alternate infinite;
       -o-animation: floating-text 2s ease alternate infinite;
          animation: floating-text 2s ease alternate infinite;
}
h2{
    font-size: 3rem;
    color: #db7800;
}
p,.skils_wrapper ul.skills-list{
       font-size: 20px;
       letter-spacing: 1px;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px 30px;
}
.aboutme{
    position: relative;
    justify-content: center;
    align-self: center;
}
.button{
   font-size: 21px;
   text-decoration: none;
   font-family: 'Big Shoulders Text', cursive

}
.button a{
    font-size: 1.5rem;
    border: 1px solid orange;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
}
.button span {
  font-size: 2rem;
}
.arrow_container__1bu8b {
  color: #db7800 !important;
}
.button.small{
   font-size: 1rem;
   /* font-weight: 800; */
   text-decoration: none;
   font-family: 'Bebas Neue', cursive;
   padding-right: 15px;
}
.button.small a{
      font-size: 1.2rem;
}
.button a:hover {
    text-decoration: none;
    border-bottom: 5px solid;
}
.button.small span{
        font-size: 1.2rem;
        font-weight: bold;
}
.imchintesh_icon {
    margin-bottom: 40px;
}

.dynamic-text, .static-text {
  display: inline-block;
}

.static-text {
  margin-right: 10px;
}

.dynamic-text {
  list-style: none;
  position: absolute;
  overflow: hidden;
  height: 94px;
  margin: 0;
}

.item {
  position: relative;
  top: 0;
  padding: 0;
  animation: move 2s infinite 1s;
  margin: 0;
}

@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -96px;
  }
  60% {
    top: -146px;
  }
  80% {
    top: -196px;
  }
}


.animation-container {
  top: 0vh;
  left: 0;
  right: 0;
  bottom: 0vh;
  z-index: 1;
}

.animation-container span {
  position: absolute;
  display: block;
  font-size: 30px;
  font-weight: 100;
  user-select: none;
  pointer-events: none;
  cursor: default;
  z-index: 1;
  opacity: 0;
  top: 0;
  will-change: transform, opacity;
  animation-timing-function: ease-out;
  animation-name: move;
  color: #db7800;
}
.animation-container span:nth-of-type(1n) {
  color: #a77880;
}
.animation-container span:nth-of-type(2n) {
  color: #919191;
}
.animation-container span:nth-of-type(3n) {
  color: #8f6bb3;
}
.animation-container span:nth-of-type(4n) {
  color: #1c73a1;
}

@keyframes move {
  0% {
    opacity: 0;
    top: 100%;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: none;
  }
}


@-webkit-keyframes floating-text {
  0% {  
    -webkit-transform: translateY(.1em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .3em .2em rgba(0,0,0,.3);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .5em .5em rgba(0,0,0,.3);
  }
}
@-moz-keyframes floating-text {
  0% {  
    -moz-transform: translateY(.1em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .3em .2em rgba(0,0,0,.3);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .5em .5em rgba(0,0,0,.3);
  }
}
@-ms-keyframes floating-text {
  0% {  
    -ms-transform: translateY(.1em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .3em .2em rgba(0,0,0,.3);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .5em .5em rgba(0,0,0,.3);
  }
}
@-o-keyframes floating-text {
  0% {  
    -o-transform: translateY(.1em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .3em .2em rgba(0,0,0,.3);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .5em .5em rgba(0,0,0,.3);
  }
}
@keyframes floating-text {
  0% {  
    transform: translateY(.1em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .3em .2em rgba(0,0,0,.3);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .5em .5em rgba(0,0,0,.3);
  }
}


.imchintesh_header {
    padding: 40px 0;
    max-width: 1200px;
    margin: 0 auto;
}
.main_header {
    display: flex;
    justify-content: space-between;
}
section.section.skills {
    margin-left: 40px;
}


nav#imchintesh_nav {
    flex-basis: 50%;
}
nav.imchintesh_nav.fixed {
    z-index: 1;
    position: fixed;
    display: block !important;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}
nav.imchintesh_nav.fixed ul {
  display: block !important;
}
nav.imchintesh_nav.fixed ul#primary-nav {
  padding: 0;
  margin: 50px auto;
  text-align: center;
}
#burger {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1;
}
#burger.is-active span {
    transition: transform 0.6s cubic-bezier(0.54, 0.1, 0.42, 1.48), width 0.6s ease-in;
}
#burger.is-active span:first-child {
    transform: rotate(45deg) translate(-1px, -8px);
}
#burger.is-active span:nth-child(2) {
    transform: rotate(-45deg);
}
#burger.is-active span:last-child {
    transform: rotate(45deg) translate(13px, -6px);
    width: 17px;
}
#burger span {
    display: block;
    height: 3px;
    border-radius: 100px;
    transition: transform 0.6s cubic-bezier(0.54, 0.1, 0.42, 1.48), width 0.6s ease-out;
}
#burger span:not(:last-child) {
    margin-bottom: 4px;
}
#burger span:first-child {
    transform-origin: 0 50%;
    width: 17px;
}
#burger span:nth-child(2) {
    width: 34px;
}
#burger span:last-child {
    transform-origin: 100% 50%;
    width: 30px;
}
nav#imchintesh_nav ul {
    display: flex;
    justify-content: space-between;
}
.logo_content {
    flex-basis: 50%;
}
.logo_content span {
    font-size: 4rem;
}

nav#imchintesh_nav ul li {
    list-style: none;
    color: #db7800;
    font-size: 2rem;
}
.logo_content span{
  -webkit-animation: floating-text 2s ease alternate infinite;
     -moz-animation: floating-text 2s ease alternate infinite;
      -ms-animation: floating-text 2s ease alternate infinite;
       -o-animation: floating-text 2s ease alternate infinite;
          animation: floating-text 2s ease alternate infinite;
}
nav#imchintesh_nav ul li a:hover {
    text-decoration: none;
}
.skils_wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.skils_wrapper div {
    flex-basis: 48%;
}

.skils_wrapper ul.skills-list li:not(:last-child) {
    padding-bottom: 10px;
}
.skils_wrapper ul.skills-list li {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}


.skils_wrapper ul {
  grid-template-rows: repeat(5, auto);
  /* general styling */
  list-style: none;
  padding: 0;
}

.skils_wrapper ul li {
  position: relative;
  /*! padding-left: 25px; */
}

.skils_wrapper  ul li::before {
  content: "";
  display: flex;
  left: 0px;
  top: -2px;
  width: 15px;
  height: 25px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
  margin-right: 30px;
}

@-webkit-keyframes mask-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(129px);
  }
}
@keyframes mask-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(129px);
  }
}
@-webkit-keyframes mask-inner-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-129px);
  }
}
@keyframes mask-inner-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-129px);
  }
}

.main_title.diff span{
display: inline-block;
animation: animate 1s linear forwards;
  filter: blur(3px);
        -webkit-filter: blur(3px);
}
@keyframes animate{
0%{
opacity: 0;
transform: rotateY(90deg);
filter: blur(10px);
}
100%{
opacity: 1;
transform: rotateY(0deg);
filter: blur(0px);
}
}
.main_title.diff span:nth-child(1)
{
animation-delay:1s;
}
.main_title.diff span:nth-child(2)
{
animation-delay:2s;
}
.main_title.diff span:nth-child(3)
{
animation-delay:2.5s;
}
.main_title.diff span:nth-child(4)
{
animation-delay:3s;
}
.main_title.diff span:nth-child(5)
{
animation-delay:3.5s;
}
.main_title.diff span:nth-child(6)
{
animation-delay:4s;
}
.main_title.diff span:nth-child(7)
{
animation-delay:4.5s;
}
.main_title.diff span:nth-child(8)
{
animation-delay:5s;
}
.main_title.diff span:nth-child(9)
{
animation-delay:5.5s;
}
.main_title.diff {
  font-size: 35px;
}
.main_title.diff span {
  font-size: 6.5rem;
}

.c-services__item {
    padding: 13px;
    border-radius: 25px;
    list-style: none;
}


.c-services__item p {
    margin-top: var(--s-1);
    font-weight: 400;
}

.c-services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.c-services .c-services__item {
  flex-basis: 30%;
}

.two_btn {
  display: flex;
}
.two_btn .button {
  padding-right: 20px;
}
.profileicons {display: flex;}
.profile_icons i {
    font-size: 2rem !important;
    text-align: center;
    padding: 10px;
    width: 3%;
}
.profile_icons i.fa-wordpress {
    color: #919191;
    border-bottom: 1px solid #919191;
    background-color: #9191912e;
}
.profile_icons i.fa-facebook {
    color: #8f6bb3;
    border-bottom: 1px solid #8f6bb3;
    background-color: #8f6bb324;
}
.profile_icons i.fa-instagram {
    color: #a77880;
    border-bottom: 1px solid #a77880;
    background-color: #a7788038;
}
.profile_icons i.fa-linkedin {
    color: #1c73a1;
    border-bottom: 1px solid #1c73a1;
    background-color: #1c73a136;
}
.profile_icons {
    margin-bottom: 60px;
    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.expertise_div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.expertise {
    display: flex;
    padding: 13px;
    flex-basis: 30%;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}
.expertise i.fa {
    font-size: 4rem;
    padding-right: 30px;
    margin-bottom: 20px;
}
.expertise.ex1 {
    color: #a77880;
    border-bottom: 1px solid #a77880;
    background-color: #a7788038;
}
.expertise.ex1:hover {
  box-shadow: 0px 0px 20px #a77880;
}
.expertise.ex2 {
     color: #919191;
    border-bottom: 1px solid #919191;
    background-color: #9191912e;
}
.expertise.ex2:hover {
  box-shadow: 0px 0px 20px #919191;
}
.expertise.ex3 {
    color: #8f6bb3;
    border-bottom: 1px solid #8f6bb3;
    background-color: #8f6bb324;
}
.expertise.ex3:hover {
  box-shadow: 0px 0px 20px #8f6bb3;
}
.expertise.ex4 {
        color: #1c73a1;
    border-bottom: 1px solid #1c73a1;
    background-color: #1c73a136;
}
.expertise.ex4:hover {
  box-shadow: 0px 0px 20px #1c73a1;
}
.expertise.ex5 {
     color: #8d7549;
     border-bottom: 1px solid #8d7549;
     background-color: #8d754940;
}
.expertise.ex5:hover {
  box-shadow: 0px 0px 20px #8d7549;
}
.expertise.ex6 {
     color: #4f8585;
     border-bottom: 1px solid #4f8585;
     background-color: #4f858538;
}
.expertise.ex6:hover {
  box-shadow: 0px 0px 20px #4f8585;
}
.expertise span {
    text-align: center;
} 
.expertise p{
  font-size: 15px;
}
.expertise a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
@media only screen and (max-width: 600px) {
    #burger {
        display: block;
    }
    nav#imchintesh_nav {
        display: none;
    }
    section .aboutme,section .skils{
        display: block;
    }
    .container {
      padding: 50px 10px;
    }
    .main_header.container {
      padding: 0;
    }
    nav.imchintesh_nav.fixed li {
      padding: 15px;
      font-size: 3rem !important;
    }
    .skils_wrapper {
      display: block;
    }
    .animation-container span {
      color: #f5f5f566;
    }
    .c-services .c-services__item {
      flex-basis: 100%;
    }
    body.white .animation-container span{
    color: #00000054;   
    }
    .logo_content span {
      font-size: 3rem;
    }
    body p.main_title {
      font-size: 3.5rem;
    }
    .main_title.diff {
      font-size: 25px;
    }
    .main_title.diff span {
      font-size: 3.5rem;
    }
    p, .skils_wrapper ul.skills-list {
      font-size: 20px;
    }
    .button a {
        font-size: 20px;
    }
    .button span {
      font-size: 25px;
    }
    h2 {
      font-size: 40px;
    }
    .profile_icons i {
      width: 10%;
    }
    .expertise {
      display: block;
    }
    .expertise_div {
      display: block;
    }
}
