body{
    /* background-color: black; */
    margin: 8px auto;
    padding: 0 15px;
}

nav.imchintesh_nav.fixed {
    background-color: black;
}
#burger span {
    background-color: white;
}
p,.expertise a,.skils_wrapper ul.skills-list,.button a,.button span,.button.small a,.button.small span,.animation-container span,nav#imchintesh_nav ul li a,.logo_content span,.c-services__item h3{
       color: white;
}
.skils_wrapper  ul li::before {
  border-color: #db7800;
}
nav#imchintesh_nav ul li a:hover {
    border-bottom: 5px solid white;
}

body.white{
    background-color: #fff9ed;
font-family: 'Rubik', sans-serif;}
body.white nav.imchintesh_nav.fixed {
    background-color: #fff9ed;
}
body.white #burger span {
    background-color: #ffb441;
}
body.white p,
body.white .skils_wrapper ul.skills-list,
body.white .button a,
body.white .button span,
body.white .button.small a,
body.white .button.small span,
body.white .animation-container span,
body.white nav#imchintesh_nav ul li a,
body.white .logo_content span,
body.white .c-services__item h3{
       color: black;
       text-decoration: none;
}
body.white  .skils_wrapper  ul li::before {
  border-color: #ffb441;
}
body.white nav#imchintesh_nav ul li a:hover {
    border-bottom: 5px solid #f9b145;
}

.logo_content span,nav#imchintesh_nav ul li a,h2,.animation-container span{
     
}
body p.main_title{
    font-size: 70px;
    margin: 0;
    font-weight: 800;
    color: black;
    /*! font-family: 'Corben', cursive; */
}
h1 {
     color: #a15c01bd;
    font-size: 4rem;
    margin:auto; height:240px; width:70%;  
  -webkit-animation: floating-text 2s ease alternate infinite;
     -moz-animation: floating-text 2s ease alternate infinite;
      -ms-animation: floating-text 2s ease alternate infinite;
       -o-animation: floating-text 2s ease alternate infinite;
          animation: floating-text 2s ease alternate infinite;
}
h2{
    font-size: 3rem;
    color: #ffb441;
    font-family: 'Corben', cursive;
}
p,.skils_wrapper ul.skills-list{
       font-size: 20px;
       letter-spacing: 1px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 30px;
}
.aboutme{
    position: relative;
    justify-content: center;
    align-self: center;
flex-basis: 100%;}
.button{
   font-size: 21px;
   text-decoration: none;

}
.button a{
    font-size: 1.5rem;
    border: 2px solid black;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
}
.button span {
  font-size: 2rem;
}
.arrow_container__1bu8b {
  color: #db7800 !important;
}
.button.small{
   font-size: 1rem;
   /* font-weight: 800; */
   text-decoration: none;
   padding-right: 15px;
}
.button.small a{
      font-size: 1.2rem;
}
.button a:hover {
    text-decoration: none;
    border-bottom: 5px solid;
    color: #ffb441 !important;
}
.button.small span{
        font-size: 1.2rem;
        font-weight: bold;
}
.imchintesh_icon {
    margin-bottom: 50px;
}

.dynamic-text, .static-text {
  display: inline-block;
}

.static-text {
  margin-right: 10px;
}

.dynamic-text {
  list-style: none;
  position: absolute;
  overflow: hidden;
  height: 94px;
  margin: 0;
}

.item {
  position: relative;
  top: 0;
  padding: 0;
  animation: move 2s infinite 1s;
  margin: 0;
}

@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -96px;
  }
  60% {
    top: -146px;
  }
  80% {
    top: -196px;
  }
}


.animation-container {
  top: 0vh;
  left: 0;
  right: 0;
  bottom: 0vh;
  z-index: 1;
}

.animation-container span {
  position: absolute;
  display: block;
  font-size: 30px;
  font-weight: 100;
  user-select: none;
  pointer-events: none;
  cursor: default;
  z-index: 1;
  opacity: 0;
  top: 0;
  will-change: transform, opacity;
  animation-timing-function: ease-out;
  animation-name: move;
  color: #db7800;
}
.animation-container span:nth-of-type(1n) {
  color: #a77880;
}
.animation-container span:nth-of-type(2n) {
  color: #919191;
}
.animation-container span:nth-of-type(3n) {
  color: #8f6bb3;
}
.animation-container span:nth-of-type(4n) {
  color: #1c73a1;
}

@keyframes move {
  0% {
    opacity: 0;
    top: 100%;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: none;
  }
}


@-webkit-keyframes floating-text {
  0% {  
    -webkit-transform: translateY(.1em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .3em .2em rgba(0,0,0,.3);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .5em .5em rgba(0,0,0,.3);
  }
}
@-moz-keyframes floating-text {
  0% {  
    -moz-transform: translateY(.1em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .3em .2em rgba(0,0,0,.3);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .5em .5em rgba(0,0,0,.3);
  }
}
@-ms-keyframes floating-text {
  0% {  
    -ms-transform: translateY(.1em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .3em .2em rgba(0,0,0,.3);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .5em .5em rgba(0,0,0,.3);
  }
}
@-o-keyframes floating-text {
  0% {  
    -o-transform: translateY(.1em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .3em .2em rgba(0,0,0,.3);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .5em .5em rgba(0,0,0,.3);
  }
}
@keyframes floating-text {
  0% {  
    transform: translateY(.1em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .3em .2em rgba(0,0,0,.3);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .5em .5em rgba(0,0,0,.3);
  }
}


.imchintesh_header {
    padding: 40px 0;
    max-width: 1200px;
    margin: 0 auto;
}
.main_header {
    display: flex;
    align-items: center;
justify-content: space-between;
}
section.section.skills {
    margin-left: 40px;
}


nav#imchintesh_nav {
    flex-basis: 60%;
}
nav.imchintesh_nav.fixed {
    z-index: 1;
    position: fixed;
    display: block !important;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}
nav.imchintesh_nav.fixed ul {
  display: block !important;
}
nav.imchintesh_nav.fixed ul#primary-nav {
  padding: 0;
  margin: 50px auto;
  text-align: center;
}
#burger {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1;
}
#burger.is-active span {
    transition: transform 0.6s cubic-bezier(0.54, 0.1, 0.42, 1.48), width 0.6s ease-in;
}
#burger.is-active span:first-child {
    transform: rotate(45deg) translate(-1px, -8px);
}
#burger.is-active span:nth-child(2) {
    transform: rotate(-45deg);
}
#burger.is-active span:last-child {
    transform: rotate(45deg) translate(13px, -6px);
    width: 17px;
}
#burger span {
    display: block;
    height: 3px;
    border-radius: 100px;
    transition: transform 0.6s cubic-bezier(0.54, 0.1, 0.42, 1.48), width 0.6s ease-out;
}
#burger span:not(:last-child) {
    margin-bottom: 4px;
}
#burger span:first-child {
    transform-origin: 0 50%;
    width: 17px;
}
#burger span:nth-child(2) {
    width: 34px;
}
#burger span:last-child {
    transform-origin: 100% 50%;
    width: 30px;
}
nav#imchintesh_nav ul {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
}
.logo_content {
    flex-basis: 30%;
/*! font-family: 'Bebas Neue', cursive; */
    font-family: 'Corben', cursive;
    font-weight: 800;
}
.logo_content span {
    font-size: 4rem;
}

nav#imchintesh_nav ul li {
    list-style: none;
    color: #db7800;
    font-size: 1.3rem;
}
.logo_content span{
  -webkit-animation: floating-text 2s ease alternate infinite;
     -moz-animation: floating-text 2s ease alternate infinite;
      -ms-animation: floating-text 2s ease alternate infinite;
       -o-animation: floating-text 2s ease alternate infinite;
          animation: floating-text 2s ease alternate infinite;
}
nav#imchintesh_nav ul li a:hover {
    text-decoration: none;
}
.skils_wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.skils_wrapper div {
    flex-basis: 48%;
}

.skils_wrapper ul.skills-list li:not(:last-child) {
    padding-bottom: 10px;
}
.skils_wrapper ul.skills-list li {
    display: flex;
    letter-spacing: 1px;
}


.skils_wrapper ul {
  grid-template-rows: repeat(5, auto);
  /* general styling */
  list-style: none;
  padding: 0;
}

.skils_wrapper ul li {
  position: relative;
  /*! padding-left: 25px; */
}

.skils_wrapper  ul li::before {
  content: "";
  display: flex;
  left: 0px;
  top: -2px;
  width: 15px;
  height: 25px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
  margin-right: 30px;
}

@-webkit-keyframes mask-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(129px);
  }
}
@keyframes mask-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(129px);
  }
}
@-webkit-keyframes mask-inner-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-129px);
  }
}
@keyframes mask-inner-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-129px);
  }
}

.main_title.diff span{
display: inline-block;
animation: animate 1s linear forwards;
  filter: blur(3px);
        -webkit-filter: blur(3px);
}
@keyframes animate{
0%{
opacity: 0;
transform: rotateY(90deg);
filter: blur(10px);
}
100%{
opacity: 1;
transform: rotateY(0deg);
filter: blur(0px);
}
}
.main_title.diff span:nth-child(1)
{
animation-delay:1s;
}
.main_title.diff span:nth-child(2)
{
animation-delay:2s;
}
.main_title.diff span:nth-child(3)
{
animation-delay:2.5s;
}
.main_title.diff span:nth-child(4)
{
animation-delay:3s;
}
.main_title.diff span:nth-child(5)
{
animation-delay:3.5s;
}
.main_title.diff span:nth-child(6)
{
animation-delay:4s;
}
.main_title.diff span:nth-child(7)
{
animation-delay:4.5s;
}
.main_title.diff span:nth-child(8)
{
animation-delay:5s;
}
.main_title.diff span:nth-child(9)
{
animation-delay:5.5s;
}
.main_title.diff {
  font-size: 35px;
}
.main_title.diff span {
  font-size: 4rem;
color: #ffb441;
  font-family: 'Corben', cursive;
}

.c-services__item {
    padding: 13px;
    border-radius: 25px;
    list-style: none;
}


.c-services__item p {
    margin-top: var(--s-1);
    font-weight: 400;
}

.c-services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.c-services .c-services__item {
  flex-basis: 30%;
}

.two_btn {
  display: flex;
}
.two_btn .button {
  padding-right: 20px;
}
.profileicons {display: flex;}
.profile_icons i {
    font-size: 2rem !important;
    text-align: center;
    padding: 0 10px;
    width: 3%;
    color: #000;
}
.profile_icons {
    margin-bottom: 60px;
    color: #000000;
    font-size: 17px;
    font-weight: bold;
}
.expertise_div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.expertise {
    padding: 13px;
    flex-basis: 30%;
    align-items: center;
    font-size: 22px;
    margin-bottom: 20px;
    
    letter-spacing: inherit;
    text-align: center;
}
.expertise i.fa {
    font-size: 4rem;
    padding-right: 30px;
    color: black;
    margin-bottom: 20px;
}
.expertise span {
    text-align: center;
    color: black;
    font-weight: 600;
} 
.expertise p{
  font-size: 20px;
}
.expertise a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
font-weight: 700;}
body.white nav#imchintesh_nav ul li {
    color: #ffb441;
    font-weight: 500;
    vertical-align: center;
}

body.white .animation-container span {
    color: black;
}
 body.white .button a{
      font-weight: 600;
      color: #000000;
 }

.read_moore {font-size: 16px;color: #fc2c03;}
section#aboutme {display: flex;}

.about_img {flex-basis: 75%;align-items: center;}
div#animation-container-main span {font-weight: 500;font-size: 15px !important;}
span.imtaglogo {font-size: 28px;
    color:  #ffb441 !important;
    padding-right: 5px;}



    blockquote {
  margin: 0 auto;
  padding: 1em;
  border-left: 5px solid #ffb441;
}
blockquote:before {
  display: none;
}
blockquote:not(:first-of-type) {
  margin-top: 0.5em;
}
blockquote p {
  color: #555;
  font-size: 20px;
  line-height: 1.4;
}
blockquote footer {
  margin-top: 0.5em;
  padding: 0;
  color: #ffb441;
  font-size: 20px;
  text-align: left;
  font-style: italic;
      font-weight: 800;
}
blockquote footer:before {
  content: "- ";
}
blockquote:nth-of-type(even) {
  text-align: right;
  border-left: none;
  border-right: 5px solid #ffb441;
}
blockquote:nth-of-type(even) footer {
  text-align: right;
}
blockquote:nth-of-type(even) footer:before {
  content: "";
}
blockquote:nth-of-type(even) footer:after {
  content: " -";
}

section#testimonials blockquote{
    font-style: italic;
}


.sectionClass {
  padding: 80px 0px 50px 0px;
  position: relative;
  display: block;
  background: rgb(249, 249, 249);
}

.row {
  width: 980px;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.sectiontitle {
  background-position: center;
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background: #101f2e;
}

.fullWidth {
  width: 100%;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}
/********************************/
/*  SECTION WORK EXPERIENCE
********************************/

#work-experience .sectiontitle .headerLine {
  width: 280px;
}

#work-experience .headerline {
  width: 280px;
}

.cbp_tmtimeline {
  margin: 60px 30px 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.cbp_tmtimeline:before {
  content: "";
  position: absolute;
  top: 3%;
  bottom: 0;
  width: 10px;
  background: #324454;
  left: 13%;
  height: 100%;
}

.cbp_tmtimeline li:last-child:before {
  content: initial;
}

.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
  text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
  font-size: 2.9em;
  color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  color: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  background: rgba(50, 68, 84, 1);
  color: #fff;
  padding: 30px;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  font-family: "Open Sans";
  position: relative;
  border-radius: 5px;
  min-height: 150px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
  background: #2b3a48;
}

.cbp_tmtimeline > li .cbp_tmlabel h3 {
  margin-top: 0px;
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.cbp_tmtimeline > li .cbp_tmlabel h4 {
  opacity: 0.7;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 600;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  text-align: left;
}

.cbp_tmtimeline > li .cbp_tmlabel h4 i {
  margin-right: 5px;
  vertical-align: middle;
}

.cbp_tmtimeline > li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: rgba(50, 68, 84, 1);
  border-width: 10px;
  top: 70px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: #2b3a48;
}

.cbp_tmtimeline > li .cbp_tmicon {
  width: 150px;
  height: 150px;
  top: 3%;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #151515;
  background: #324454;
  border-radius: 50%;
  text-align: center;
  left: 8%;
  margin: 0 0 0 -25px;
}

.cbp_tmtimeline li {
  margin-bottom: 70px;
  position: relative;
}

.sectionClassProject {
  position: relative;
  display: block;
  /* background: #f7f7f7; */

  margin: 0 auto;
  padding: 80px 1.875em 3.125em;
}

.projectParagraph {
  font-size: 18px;
  margin: 0.5em 0 0;
  font-family: "Source Sans Pro", serif;
}

.projectParagraphLink {
  font-size: 15px !important;
  font-weight: 500 !important;
  margin-top: 50px !important;
  margin-bottom: 0px;
  text-align: right;
}

.projectParagraphLink a {
  color: white;
  text-decoration: underline;
}

.cbp_tmicon img {
  width: 100%;
}

.faPra {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 70px;
  vertical-align: middle;
  color: white;
  line-height: 150px;
}

.label {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  color: #ffffff;
  display: inline;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px 15px;
}

.date {
  color: #bfc3c7;
  display: block;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 30px;
  right: 20px;
}

.date i {
  margin-right: 8px;
  vertical-align: top;
  font-size: 18px;
  line-height: 20px;
}

@media (max-width: 1024px) {
  .cbp_tmtimeline:before {
    display: none;
  }
  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }
  .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: left;
  }
  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 30px 0 70px 0;
    padding: 50px 30px 30px 30px;
    font-weight: 400;
    font-size: 95%;
    float: left;
  }
  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    border-right-color: transparent;
    border-bottom-color: rgb(50, 68, 84);
    top: -20px;
  }
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: rgb(43, 58, 72);
    left: 65px;
  }
  .cbp_tmtimeline > li:nth-child(even) .cbp_tmlabel:after {
    right: 65px;
  }
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmicon {
    position: relative;
    float: left;
    left: auto;
    margin: 0px 5px 0 0px;
  }
  .cbp_tmtimeline > li:nth-child(even) .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin: 0px 5px 0 0px;
  }
  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.5em;
  }
}

@media (max-width: 32em) {
  .cbp-ntaccordion {
    font-size: 70%;
  }
}
/* AUTHOR LINK */

footer {
  
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  opacity: 0;
  font-family: "Open Sans";
  width: 100%;
  word-wrap: break-word;
  line-height: 25px;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  margin: 0;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease;
}

footer .authorWindow a {
  color: white;
  text-decoration: none;
}

footer p strong {
  color: rgba(255, 255, 255, 0.9);
}

.about-me-img {
  width: 120px;
  height: 120px;
  left: 10px;
  /* bottom: 30px; */
  position: relative;
  border-radius: 100px;
}

.about-me-img img {
}

.authorWindow {
  width: 600px;
  background: #75439a;
  padding: 22px 20px 22px 20px;
  border-radius: 5px;
  overflow: hidden;
}

.authorWindowWrapper {
  display: none;
  left: 110px;
  top: 0;
  padding-left: 25px;
  position: absolute;
}

.trans {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
  .authorWindow {
    width: 210px;
  }

  .authorWindowWrapper {
    bottom: -170px;
    margin-bottom: 20px;
  }

  footer p {
    font-size: 14px;
  }
}

/* Buttons */
/* Inputs */
/* Timeline custom component */
.timeline {
  border-left: 2px solid #E6E9ED;
  padding: 1rem 0; }

.timeline-card {
  position: relative;
  margin-left: 31px;
  border-left: 2px solid;
  margin-bottom: 2rem; }

.timeline-card:last-child {
  margin-bottom: 1rem; }

.timeline-card:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 18px;
  left: -43px;
  border: 2px solid;
  z-index: 2; }

.timeline-card:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: currentColor;
  width: 29px;
  height: 2px;
  top: 25px;
  left: -29px;
  z-index: 1; }

.timeline-card-primary {
  border-left-color: #ffb441; }

.timeline-card-primary:before {
  border-color: #ffb441; }

.timeline-card-primary:after {
  background-color: #ffb441; }

.timeline-card-success {
  border-left-color: #37BC9B; }

.timeline-card-success:before {
  border-color: #37BC9B; }

.timeline-card-success:after {
  background-color: #37BC9B; }

html {
  scroll-behavior: smooth; }

.site-title {
  font-size: 1.25rem;
  line-height: 2.5rem; }

.nav-link {
  padding: 0;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.5); }

.nav-link:hover,
.nav-link:focus,
.active .nav-link {
  color: rgba(0, 0, 0, 0.8); }

.nav-item + .nav-item {
  margin-left: 1rem; }

.cover {
  border-radius: 10px; }

.cover-bg {
  background-color: #4A89DC;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.12'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-radius: 10px 10px 0 0; }

.avatar {
  max-width: 216px;
  max-height: 216px;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.avatar img {
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }

footer a:not(.nav-link) {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer; }

@media (min-width: 48em) {
  .site-title {
    float: left; }
  .site-nav {
    float: right; }
  .avatar {
    margin-bottom: -80px;
    margin-left: 0; } }

@media print {
  body {
    background-color: #fff; }
  .container {
    width: auto;
    max-width: 100%;
    padding: 0; }
  .cover, .cover-bg {
    border-radius: 0; }
  .cover.shadow-lg {
    box-shadow: none !important; }
  .cover-bg {
    padding: 5rem !important;
    padding-bottom: 10px !important; }
  .avatar {
    margin-top: -10px; }
  .about-section {
    padding: 6.5rem 5rem 2rem !important; }
  .skills-section,
  .work-experience-section,
  .education-section,
  .contant-section {
    padding: 1.5rem 5rem 2rem !important; }
  .page-break {
    padding-top: 5rem;
    page-break-before: always; } }

div#workexperience .h5.mb-1 {font-size: 22px;margin-bottom: 0.5rem!important;
    color: black;
    font-weight: 600;}
div#workexperience .card-body {flex: 1 1 auto;padding: 2rem 2rem;border: 1px solid rgba(0,0,0,.125);}
div#workexperience .text-muted.text-small.mb-2 {font-size: .875rem;color: #6c757d!important;margin-bottom: 1rem!important;}
#workexperience p {
    margin: 0;
    word-break: break-word;
}
div#workexperience .h5.mb-1 span.text-muted.h6 {font-size: 18px;color: gray;}
body.white nav#imchintesh_nav ul li span {
  font-size: 20px;
  padding-left: 2px;
}


footer.main .footer_right i {
  font-size: 2rem !important;
  text-align: center;
  padding: 0 25px;
  width: 3%;
  color: #000;
}
footer.main .footer_right a {
  border-bottom: none;
}
footer.main {
  display: flex;
  justify-content: space-between;
}
.footer_left {
  align-self: center;
}
.expertise.ex1, .expertise.ex2,.expertise.ex4,.expertise.ex5 {
  border-right: 1px solid #ffb441;
}


@media only screen and (max-width: 600px) {
    #burger {
        display: block;
    }
    nav#imchintesh_nav {
        display: none;
    }
    section .aboutme,section .skils{
        display: block;
    }
    .container {
      padding: 30px 0px;
    }
    .main_header.container {
      padding: 0;
      justify-content: normal;
    }
    nav.imchintesh_nav.fixed li {
      padding: 15px;
      font-size: 2.5rem !important;
    }
    .skils_wrapper {
      display: block;
    }
    .animation-container span {
      color: #f5f5f566;
    }
    .c-services .c-services__item {
      flex-basis: 100%;
    }
    body.white .animation-container span{
    color: #00000054;   
    }
    .logo_content span {
      font-size: 28px;
    }
    body p.main_title {
      font-size: 3.5rem;
    }
    .main_title.diff {
      font-size: 25px;
    }
    .main_title.diff span {
      font-size: 2.3rem;
    }
    p, .skils_wrapper ul.skills-list {
      font-size: 20px;
    }
    .button a {
        font-size: 20px;
    }
    .button span {
      font-size: 25px;
    }
    h2 {
      font-size: 40px;
    }
    .profile_icons i {
      width: 10%;
      color: black;
    }
    .expertise {
      display: block;
    }
    .expertise_div {
      display: block;
    }
    #animation-container-main{
      display: none;
    }
    .expertise p {
    font-size: 20px;
  }
  .expertise span {
      font-size: 25px;
  }
  .skils_wrapper  ul li::before {
    content: "";
    display: flex;
    left: 0px;
    top: -2px;
    width: 11px;
    height: 12px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg);
    margin-right: 20px;
  }
  .about_img {
    display: none;
}

  footer.main {
      display: block !important;
      text-align: center;
  }

  footer.main div {
      padding: 20px 0;
  }
  .expertise.ex1, .expertise.ex2, .expertise.ex4, .expertise.ex5 {
     border-right: : none;
    border-bottom: : 1px solid #ffb441;
}
}